.ul-center {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.row {
    margin: 5px;
}

.border {
    border-radius: 5px;
    margin: 5px;
}

.ul-center li {
    margin: 10px;
}

img {
    float: left;
    width:  286px;
    height: 350px;
    object-fit: cover;
}